torch==2.5.1
torchvision==0.20.1
numpy==1.26.4
pillow
opencv-python
lightglue @ git+https://github.com/cvg/LightGlue.git
plyfile
pycolmap==4.1.1
huggingface_hub
safetensors
tensorboard

# Training framework
accelerate==1.2.1
hydra-core>=1.2,<1.4
hydra-colorlog
omegaconf>=2.2,<2.4
transformers
easydict
PyYAML
tqdm

# Dataset and logging utilities
scipy
pandas
h5py
prettytable
rich
